@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
  text-wrap: balance;
  }
}

.main-container {
  @apply w-full flex flex-col gap-10 items-start;
}

.btn{
  @apply flex items-center justify-center;
}

.btn:not(.btn-sm, .btn-md, .btn-theme) {
  @apply min-w-[108px];
}
